body
  #app
    .title
      padding-left: 1rem
    .content-wrapper
      padding-top: 1rem
      justify-content: center
      display: -webkit-flex
      .content
        width: 90%
    // .item-remove
    //   transition: transform .5s cubic-bezier(.55, 0, .1, 1)
  