#app
  .title
    padding-left: 1rem
  .content-wrapper
    padding-top: 1rem
    justify-content: center
    display: -webkit-flex
    .content
      width: 90%
// .list
//   .item:hover
//     color: #f2711c !important
//     i
//       color: #f2711c !important
